---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About Ben Young">
  <Page title="About Me">
    <p>Hey there! I'm Ben Young, a Veeam Field CTO for the Asia-Pacific region and member of the Veeam Strategy group. Also, 5x Veeam Vanguard.  I live and breathe technology, especially when it comes to Veeam,
automation and AI – the cooler the tech, the happier I am!</p>

<p>But it's not all about robots and algorithms. I'm also deeply passionate about helping enterprises develop winning strategies that leverage the power of technology to achieve
their goals.</p>

<p>Through my work and this blog, I aim to:</p>

<ul>
  <li><b>Share my insights:</b> I'll be diving deep into the latest trends in automation, AI, and enterprise strategy, providing you with actionable advice and thought-provoking
    perspectives.</li>
  <li><b>Spark conversation:</b> I believe that the best ideas come from collaboration.  I encourage you to engage with my content, share your thoughts, and join the conversation.</li>
  <li><b>Make tech accessible:</b> I want to demystify complex technologies and make them understandable for everyone.</li>
</ul>


<p>Whether you're a seasoned tech professional or just starting to explore the world of automation and AI, I hope you'll find value in this blog.</p>


<p>Let's connect and explore the exciting possibilities of technology together!</p>
  </Page>
</Base>
